@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* share styles  */
section{
    margin-top: 100px;
}
.text-primary{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: #727272;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
}

.text-heading{
    font-size: 2.813rem;
    font-weight: 700;
    color: #131313;
}
/* header section  */

.container{
    padding: 2.604% 12%;
    margin: 0 auto;
    /* max-width: 0 1440px; */
}

.header{
    background: rgba(255, 144, 14, 0.10);
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul{
    display: flex;
}

nav>ul>li{
    display: flex;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.125rem;
}

nav>ul>li a{
    text-decoration: none;
    color: #424242;
}

.banner{
    text-align: center;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner p{
    max-width: 868px;
    margin: 0 auto;
    margin: 20px auto 32px auto;
}

.banner-img{
    margin: 50px 0 0 0;
}
.banner-img img{
    width:100%;
}

/* main section  */

/* team section  */

.team-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:50px;
}

.team-imgs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 18px;
    max-width: 708px;
}
.team-imgs img{
    width: 100%;
    border-radius: 8px;
}

.team-text{
    max-width: 537px;
}

.team-text h3{
    color: #727272;
    font-size: 2.813rem;
    font-weight: 500;
}

.team-text p{
    margin: 24px 0 32px 0;
}

.team-text span{
    font-weight: 700;
}

.team-text .ofOur{
    color: #131313;
}
.team-text .feature{
    color:  #FF900E;
}


/* facts styles  */

.stat-box{
    border-radius: 8px;
    border: 1px solid #FF900E;
    width: 241.831px;
    height: 241.831px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.stat-box img{
    width: 45.22px;
}
.facts-stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:50px;
}

.facts-text p{
    max-width: 542px;
    margin: 24px 0 100px 0;
}

.quantity{
    font-weight: 600;
    font-size: 2.813rem;
    color:  #424242;
}

.stat-title{
    font-weight: 600;
    font-size:1.25rem;
    color: #727272;
}



/* sponsor section  */
.sponsor-text{
    max-width: 542px;
    margin: 0 auto;
    text-align: center;

}
.sponsor-text p{
    margin: 24px auto 50px auto;
}

.sponsor-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    align-self: center;
}

.sponsor-icons * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor-icons img{
    height: 50px;
    filter: grayscale();
}



/* footer  */

.footer-text{
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
    margin: 60px auto 216px auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
}

.footer-text p{
    color: #424242;
}

/* mobile  */

@media screen and (max-width:576px) {

    .container{
        padding: 0 30px;
    }

    .header{
        padding: 30px 10px;
    }

    section{
        margin-top: 50px;
    }
    nav{
        flex-direction: column;
    }

    nav>ul{
        padding: 10px 0;
    }

    .team-container{
        flex-direction: column-reverse;
        gap: 30px;
    }

    .team-imgs{
        gap: 10px;
    }

    .facts-text p{
        margin: 24px 0 80px 0;
    }

    

}

/* tablet  */

@media screen and (min-width: 577px) and (max-width:992px) {

    .container{
        padding: 0 50px;
    }

    .header{
        padding: 30px 10px;
    }

    section{
        margin-top: 80px;
    }
    nav{
        flex-direction: column;
    }

    nav>ul{
        padding: 10px 0;
    }

    .team-container{
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 30px;
    }

    .team-imgs{
        gap: 10px;
    }

    .facts-text p{
        margin: 24px 0 80px 0;
    }
}


